h2 {
    font-family: "Sitka Subheading", sans-serif;
    font-size: 25px;
}

.page-info {
    font-family: "Arial", sans-serif;
    font-size: 16px;
}

.row {
    display: flex;
}

.row-divisor {
    height: 30px;
}

.field-divisor {
    width: 50px;
}

.field {
    display: flex;
    flex-grow: 1;
}

.field .label {
    font-family: "Roboto Thin", sans-serif;
    font-size: 20px;
    padding-right: 50px
}

.field .input {
    display: flex;
    flex-grow: 3;
}

.field input {
    flex: 1;
}