.LinhaAutorizacaoCadastro {
    display: flex;
    align-items: center;
}

.LinhaAutorizacaoCadastro-status {
    width: 1%;
    margin-right: 10px;
}

.LinhaAutorizacaoCadastro-titulo {
    font-weight: bold;
    font-size: 18px;
}

.LinhaAutorizacaoCadastro-subtitulo {
    font-weight: bold;
    font-size: 16px;
}

.LinhaAutorizacaoCadastro-opcoes {
    display: flex;
    align-items: center;
}

.LinhaAutorizacaoCadastro-BotaoResposta {
    padding-left: 10px;
    padding-right: 10px;
    flex-basis: auto;
    flex-grow: 1;
    cursor: pointer;
}

.LinhaAutorizacaoCadastro-BotaoResposta:hover {
    background-color: #00000011;
}