.LinhaAutorizacaoCadastro {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.LinhaAutorizacaoCadastro-titulo {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    text-decoration: underline black;
}

.LinhaAutorizacaoCadastro-opcoes {
    display: flex;
    align-items: center;
}

.LinhaAutorizacaoCadastro-BotaoResposta {
    padding-left: 10px;
    padding-right: 10px;
    flex-basis: auto;
    flex-grow: 1;
    cursor: pointer;
}

.LinhaAutorizacaoCadastro-BotaoResposta:hover {
    background-color: #00000011;
}