.TelaCadastroEscolas {
    padding: 20px;
}

.TelaCadastroEscolas-formulario {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.TelaCadastroEscolas-campo {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.TelaCadastroEscolas-erroCampo {
    color: red;
    align-self: center;
}

.TelaCadastroEscolas-divisorCampo {
    width: 10px;
}

.TelaCadastroEscolas-caixaTexto {
    padding: 10px;
}