.MenuPrincipal {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MenuPrincipal-grade {
    height: 50%;
    width: 75%;
    display: grid;
    gap: 5vw;
    grid-template-rows: 1fr 1fr;
}

.MenuPrincipal-botaoSair {
    position: absolute;
    cursor: pointer;
    color: darkslateblue;
    padding: 20px;
}