.Tela-titulo {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}
